.App {
  text-align: center;
}

body{
  background-color: rgb(155, 204, 235);
}

.nav-bar, .nav-bar>h1{
  background-color: rgb(67, 166, 228);
  margin-top: 0px;
  height: 4.392387%;
  padding: 0.732064% 0px;
}

#textarea{
  width: 43.923865%;
  margin: 1.317716% auto;
  margin-top: 0px;
  min-height: 14.641288%;
  resize: vertical;
  outline: none;
  font-size: 12px;
  background-color: rgb(206, 228, 241);
  box-shadow: 1px 1px 10px 2px;
}

.preview {
  width: 65.885798%;
  margin: 0px auto;
  background-color: rgb(206, 228, 241);
  box-shadow: 1px 1px 10px 2px;
  border-style: solid;
  border-width: 1px;
}

.toolbar-div {
  background-color: rgb(56, 168, 238);
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: left;
}

#Editor{
  width: 44.363104%;
  margin-top: 2.196193%;
}

#Preview {
  width: 65.885798%;
}